CONFIG_TARGET_ramips=y
CONFIG_TARGET_ramips_mt76x8=y
CONFIG_TARGET_ramips_mt76x8_DEVICE_tplink_archer-c20-v4=y
CONFIG_SDK=y
CONFIG_PACKAGE_opkg=y
CONFIG_PACKAGE_dropbear=y
CONFIG_PACKAGE_iw=y
# CONFIG_PACKAGE_dnsmasq is not set
# CONFIG_PACKAGE_firewall is not set
# CONFIG_PACKAGE_ip6tables is not set
# CONFIG_PACKAGE_iptables is not set
# CONFIG_PACKAGE_odhcp6c is not set
# CONFIG_PACKAGE_odhcpd is not set
# CONFIG_PACKAGE_ppp is not set
# CONFIG_PACKAGE_ppp-mod-pppoe is not set
# CONFIG_PACKAGE_luci is not set
# CONFIG_PACKAGE_swconfig is not set
# CONFIG_PACKAGE_uboot-envtools is not set
# CONFIG_PACKAGE_urandom-seed is not set
# CONFIG_PACKAGE_urngd is not set
# CONFIG_PACKAGE_mtd is not set
# CONFIG_PACKAGE_logd is not set
